<div class = "col-md-12">
<h2>
List of Planes
</h2>
<div>
<ul class = "list-group">
<li class = "list-group-item" *ngFor = "let key of planesKeys" >


    <span><b>Plane ID:</b> {{planes[key].id}}</span>
    <br />
    <span><b>Plane Manufacturer:</b> {{planes[key].manufacturer}}</span>
    <br />
    <span><b>Plane Model:</b> ${{planes[key].model}}</span>
<div>
 <button class="btn btn-info" [routerLink] = "['/editPlane', key]" (click) = "updatePlane(key)">Edit</button>
    </div>
<div>
<button type="button" class="btn btn-danger" (click)="deletePlane(key)">Delete</button>
   </div>
</li>
</ul>
</div>
</div>