<h2>Update product {{plane?.id}}: </h2>
<form [formGroup] = "updateform" (ngSubmit) = "sendData()">
<div>
<label for="manufacturer"></label>
<input type="text" name="manufacturer" id="manufacturer" class="form-control" formControlName = "manufacturer"  value="{{manufacturer}}" [(ngModel)]="manufacturer">
</div>
<div>
<label for="model"></label>
<input type="text" name="model" id="model" class="form-control" formControlName = "model"  value="{{model}}" [(ngModel)]="model">
</div>
<br>
<input type="submit" value="Updat Product" class="btn btn-primary">
</form>
